[Unit]
Description=Minecraft - %i
After=network.target

[Service]
# Path to server root folder
WorkingDirectory=/opt/minecraft/%i
EnvironmentFile=-/opt/minecraft/%i/server.env

# Default values - override with server.env in server directory
Environment=XMS=256M
Environment=XMX=1024M
Environment=JAVA_EXECUTABLE=/usr/bin/java
Environment=SERVER_JAR=server.jar

Type=simple
User=minecraft
Group=minecraft

Sockets=minecraft@%i.socket
StandardInput=socket
StandardOutput=journal
StandardError=journal

ExecStart=/bin/bash -c "${JAVA_EXECUTABLE} -Xms${XMS} -Xmx${XMX} -jar ${SERVER_JAR}"
ExecStop=/bin/bash -c "/bin/echo stop > /run/minecraft/%i.stdin"
Restart=on-failure
RestartSec=60s

KillSignal=SIGCONT

NoNewPrivileges=true
PrivateUsers=true
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=full

[Install]
WantedBy=multi-user.target